adarkar_wastes
adarkar_wastes.dir/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
Makefile
Release/
src/adarkar_wastes
./*.exe
*.bin
*.ilk
*.ld
*.o
*.opensdf
*.pdb
*.preprocessed
*.S
*.sdf
*.sln
*.stripped
*.suo
*.unprocessed
*.VC.*
*.vcxproj*
